html, 
body {
    height: 100%;
    background-color: #112;
}

#root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    border-radius: 20px 20px 0 0;
    font-weight: bold;
    background: #ff5353;
    border: 1px solid black;
    width: 298px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infobar {
    font-weight: bold;
    background: #ff5353;
    border: 1px solid black;
    width: 298px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart_btn {
    color: black;
    font-size: 22px;
    font-weight: bold;
    background: red;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 298px;
    height: 30px;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    outline: none;
}

.tictactoe-table {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}
  
.tictactoe-cell {
    width: calc(100% / 3 - 2px);
    height: calc(100% / 3 - 1px);
    background-color: red;
    display: block;
    border: 1px solid black;
    padding: 0;
}
  
div.x {
    background: black;
    width: calc(100% / 10);
    height: 100px;
    position: relative;
    margin-left: 45px;
    margin-top: 0px;
    transform: rotate(45deg);
}
  
div.x::after {
    display: block;
    background: black;
    width: 10px;
    height: 100%;
    content: "";
    transform: rotate(90deg);
}
  
div.o {
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border: 10px solid black;
    border-radius: 100%;
}